<beans:beans xmlns="http://www.springframework.org/schema/security"  
 xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
 xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans.xsd  
           http://www.springframework.org/schema/security  
           http://www.springframework.org/schema/security/spring-security.xsd">  
  
  <global-method-security pre-post-annotations="enabled"/>
<!--   <global-method-security secured-annotations="enabled"/> -->

  
  <http auto-config="true" use-expressions="true">
  	<intercept-url pattern="/manage-databases" access="hasRole('ROLE_ADMIN')" />
  	<!--  	<intercept-url pattern="/**" access="hasRole('ROLE_USER')" /> -->
  	<!--  	<intercept-url pattern="/manage-db-changes" access="permitAll" /> -->
  	<!-- 		<logout delete-cookies="JSESSIONID" /> -->
  </http>


  <authentication-manager>  
  <authentication-provider>  
   <user-service>  
    <user name="orsh" password="orsh" authorities="ROLE_ADMIN,ROLE_USER" />
    <user name="ayelets" password="ayelets" authorities="ROLE_ADMIN,ROLE_USER" />
    <user name="guest" password="guest" authorities="ROLE_USER" />  
   </user-service>  
  </authentication-provider>  
 </authentication-manager>


</beans:beans>  

